
#exclude all user prefs
/Data
/userPreferences*
/Logs
/Settings
/Components
/Plugins
*.4DB
/Project/DerivedData/*
*.4DD
*.4DIndx
*.4DIndy
*.journal
*.Match

/Project/*.lnk
/Project/Logs/*
/Project/Sources/Methods/_Test.4dm
